# 01. Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 01. Importing data

In [5]:
# Importing project data 
df = pd.read_csv(r'/Users/chloebenning/Documents/Instacart Basket Analysis/02 Data/Original Data/IC_Orders.csv', index_col = False)

In [7]:
# Creating a project folder path string
path = r'/Users/chloebenning/Documents/Instacart Basket Analysis'

In [8]:
path

'/Users/chloebenning/Documents/Instacart Basket Analysis'

In [9]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'IC_Orders.csv'), index_col = False)

In [10]:
df.head()

,order_id,product_id,add_to_cart_order,product_name,aisle_id,department_id,customer_id
0,1,49302,1,Bulgarian Yogurt,120,16,11112
1,1,11109,2,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,11112
2,1,10246,3,Organic Celery Hearts,83,4,11112
3,1,49683,4,Cucumber Kirby,83,4,11112
4,1,43633,5,Lightly Smoked Sardines in Olive Oil,95,15,11112

In [11]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [12]:
df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [14]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'IC_Orders.csv'), index_col = False)

In [15]:
df.tail()

,order_id,product_id,add_to_cart_order,product_name,aisle_id,department_id,customer_id
1384612,3358267,34088,1,Coconut Oil Body Oil 5.1 Oz,127,11,1018200
1384613,3302779,13315,1,Hydro Silk Women's Refill Blades,55,11,1091003
1384614,3339757,24892,1,Wild Mackerel & Whitefish Cat Food,41,8,1018133
1384615,3373549,26328,1,Beef Stew Meat Value Pack,7,12,1018267
1384616,3381085,24862,1,Old Indian Wild Cherry Bark Syrup,47,11,1018521