In [2]:
import pandas as pd
import numpy as np 
import os

In [4]:
df_test = pd.DataFrame()

In [5]:
df_test['mix'] = ['a', 'b', 1, True]

In [6]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [7]:
df_test['mix'] = df_test['mix'].astype('str')

In [8]:
df_prods.isnull().sum()

NameError: name 'df_prods' is not defined

In [10]:
path = r'/Users/chloebenning/Documents/Instacart Basket Analysis'

In [11]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [13]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [14]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3